{% extends 'partials/base.html.twig' %}

{% block content %}
   <div class="about">
      <!-- <div class="reference">
        <h4>WORKED WITH/FOR</h4>
        <ul>
          <li>Lufthansa Womans World</li>
          <br>
          <li>Bertelsmann</li>
          <br>
          <li>Gruner + Jahr</li>
          <br>
          <li>Gaggenau</li>
          <br>
          <li>Territory</li>
          <br>
          <li>Miele</li>
          <br>
          <li>Frontline</li>
          <br>
          <li>Hoffmann & Campe</li>
          <br>
          <li>C3</li>
        </ul>
      </div>  -->
      <div class="about-img">
        {{ page.find('/images/').media['about-img.jpg']}}
      </div>
      <div class="about-text">
        {{ page.content }}
      </div>
    </div>
{% endblock %}
