{% extends 'partials/base.html.twig' %}

{% block content %}
   <div class="about">
      <div class="about-img">
        {{ page.find('/images/').media['about-img.jpg']}}
      </div>
      <div class="about-text">
        {{ page.content }}
      </div>
    </div>
{% endblock %}
