{% if page.menu == "PHOTOGRAPHY" %}
    <div class="photo-container">
        {% for child in page.find('/images/photography').children %}
            {% for image in child.media.images %}
            <div class="photo-item">
              {{ image.html }}
            </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% elseif page.menu == "Portrait" %}
    <div class="photo-container">
        {% for image in page.find('/images/photography/portrait').media.images %}
            <div class="photo-item">
              {{ image.html }}
            </div>
        {% endfor %}
    </div>
    {% elseif page.menu == "Lifestyle" %}
    <div class="photo-container">
        {% for image in page.find('/images/photography/lifestyle').media.images %}
            <div class="photo-item">
              {{ image.html }}
            </div>
        {% endfor %}
    </div>
    {% elseif page.menu == "Travel" %}
    <div class="photo-container">
        {% for image in page.find('/images/photography/travel').media.images %}
            <div class="photo-item">
              {{ image.html }}
            </div>
        {% endfor %}
    </div>
{% endif %}
