// As the name suggests: It's the core styling
html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre {
  margin:0;
  padding:0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  :focus {
    outline: none;
  }
  list-style: none;
}

body {
  color: $text;
  font-family: $Futura;
  background-color: $background;
}

a {
  text-decoration: none;
  color: rgb(102, 102, 102);
}

p {
  font-size: 16px;
}

#body {
  // padding: 0px 40px;
}

.main {
  margin-top: 50px;
}

.about {
  column-count: 3;
  column-gap: 0;
  padding-left: 10px;
  margin-top: 5%;
  @include mobiles {
    column-count: 1;
  }
  .about-img {
    text-align: center;
  }
  .about-img, .about-text {
    break-inside: avoid;
    box-sizing: border-box;
    padding: 0% 3% 3% 0%;
    img {
      max-width: 80%;
      // margin-top: 10%;
      margin-left: 5%;
      // @include tablets {
      //   margin-top: 20%;
      // }
    }
  }
  .about-text {
    font-family: Georgia, 'Times New Roman';
    color: rgb(102, 102, 102);
    h1,h2,h3,h4,h5,h6,p {
      margin-top: 6px;
      letter-spacing: 0.55px;
    }
    a {
      text-decoration: underline;
    }
    h4 {
      font-family: $Futura;
      margin-top: 50px;
      color: rgb(65, 65, 65);
      letter-spacing: 4px;
      font-weight: lighter;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    @include mobiles {
      margin-left: 5;
      text-align: center;
    }
  }
}
