// As the name suggests: It's the core styling

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    :focus {
      outline: none;
    }
    list-style: none;
}

body {
    font-size: 1rem;
    color: $text;
    font-family: $Futura;
    background-color: $background;
}

a {
    text-decoration: none;
    color: $text;
}

#body {
  // padding: 0px 40px;
}

.main {
  margin-top: 50px;
}

.about {
  column-count: 2;
  column-gap: 0;
  padding-left: 10px;
  margin-top: 5%;
  @include mobiles {
    column-count: 1;
  }
  .about-img, .about-text {
    break-inside: avoid;
    box-sizing: border-box;
    padding: 0% 3% 3% 0%;
    img {
      max-width: 90%;
      margin-top: 10%;
      margin-left: 5%;
      @include tablets {
        margin-top: 20%;
      }
    }
  }
  .about-text {
    font-family: $Minion;
    a {
      text-decoration: underline;
    }
    h5 {
      font-family: $Optima;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    @include mobiles {
      margin-left: 5;
      text-align: center;
    }
  }
}
