.footer {
  color: rgb(102,102,102);
  font-family: Georgia, 'Times New Roman';
  width: 100%;
  border-top: 1px solid #d3d3d3;
  margin-top: 20px;
  margin-bottom: 20px;
  p {
    font-size: 14px;
  }
  p:first-child {
    padding-left: 10px;
    margin-top: 20px;
  }
  .coder, .copyright {
    text-align: center;
  }
  .copyright {
    margin-top: -17px;
  }
  .coder {
    color: #939393;
    line-height: 2;
    a {
      color: #939393;
    }
  }
}
