.footer {
  color: rgb(102,102,102);
  font-family: $Futura;
  width: 100%;
  border-top: 1px solid #d3d3d3;
  margin-top: 100px;
  margin-bottom: 20px;
  p {
    font-size: 11px;
    // @include mobiles {
    //   font-size: 11px;
    // }
  }
  p:first-child {
    color: #939393;
    margin-top: 20px;
  }
  .coder, .copyright {
    font-family: $Freight;
    text-align: center;
  }
  .copyright {
    margin-top: -15px;
    @include tablets {
      margin-top: -13px;
    }
  }
  .coder {
    color: #939393;
    line-height: 1.5;
    a {
      color: #939393;
    }
  }
}
