// The header section of your theme

.header {
  display: flex;
  @include tablets {
    display: block;
  }
  .hidden-tablet {
    @include tablets {
      display: none;
    }
    @include mobiles {
      display: none;
    }
  }
  .visible-tablet {
    @include mobiles {
      display: block;
    }
    @include minview {
      display: none;
    }
  }
  #main-nav, #title, #social-icons {
    @include tablets {
      display: block;
    }
    flex: 1;
    display: flex;
    justify-content: center;
    &:first-child > span {
      margin-right: auto;
    }
    &:last-child > span {
      padding-top: 15px;
      padding-right: 10px;
      margin-left: auto;
    }
  }
  #main-nav button {
    margin-top: 30px;
    @include mobiles {
      margin-top: 35px;
    }
  }
  #social-icons {
    margin-top: 45px;
    svg {
      height:20px;
      width: 14px;
      fill: #d2dad3 !important;
      margin: 0 6px;
    }
    @include tablets {
      display: none;
    }
  }
  #title a {
    display: flex;
    flex-direction: column;
    svg {
      max-width: 100%;
      @include tablets {
        margin-right: 10px;
        max-width: 40%;
        align-self: flex-end;
      }
      @include mobiles {
        margin-right: 10px;
        max-width: 50%;
        // z-index: 35;
      }
    }
  }
}
