// The header section of your theme

.header {
  display: flex;
  #main-nav, #title, #social-icons {
    flex: 1;
    display: flex;
    justify-content: center;
    &:first-child > span {
      margin-right: auto;
    }
    &:last-child > span {
      padding-top: 15px;
      padding-right: 10px;
      margin-left: auto;
    }
  }
  #main-nav button {
    margin-top: 30px;
  }
  #social-icons {
    margin-top: 45px;
    svg {
      height:20px;
      width: 14px;
      fill: #d2dad3 !important;
      margin: 0 6px;
    }
    @include tablets {
      display: none;
    }
  }
  #title a {
    display: flex;
    flex-direction: column;
    svg {
      max-width: 100%;
      @include tablets {
        z-index: 33;
      }
      @include mobiles {
        z-index: 35;
      }
    }
  }
}
