// The header section of your theme

.header {
  display: flex;
  #main-nav, #title, #social-icons {
    flex: 1;
    display: flex;
    justify-content: center;
    &:first-child > span {
      margin-right: auto;
    }
    &:last-child > span {
      padding-top: 15px;
      padding-right: 10px;
      margin-left: auto;
    }
  }
  #social-icons {
    svg {
      height: 30px;
      width: 30px;
      fill: rgb(210,218,211)!important;
    }
    @include tablets {
      display: none;
    }
  }
  #title img {
    max-width: 100%;
    @include mobiles {
      padding-top: 15px;
    }
  }
}
