.lightbox {
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgb(250,250,250);
  background-color: rgba(250,250,250,0.95);
  width: 100%;
  height: 100%;
  z-index: 102;
  text-align: center;
  .close {
    z-index: 300;
    margin-top: 30px;
    position: absolute;
    cursor: pointer;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.7;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  img {
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    max-width: 100%;
    min-height: 90vh;
    max-height: 95vh;
  }
}
