// Feel free to add more breakpoints

$x-small-screen: 480px !default;
$small-screen: 999px !default;
$medium-screen: 1200px !default;

@mixin mobiles {
  @media (max-width: #{$x-small-screen}) {
       @content;
     }
}

@mixin pads {
  @media (min-width: #{$x-small-screen} + 1px) and (max-width: #{$small-screen}) {
       @content;
     }
}

@mixin laptops {
  @media (min-width: #{$small-screen} + 1px) and (max-width: #{$medium-screen}) {
       @content;
     }
}

@mixin bigscreens {
  @media (min-width: #{$medium-screen} + 1px) {
       @content;
     }
}
