// Feel free to add more breakpoints

$x-small-screen: 480px !default;
$small-screen: 990px !default;
$medium-screen: 1200px !default;
$large-screen: 1201px !default;

@mixin mobiles {
  @media only screen and (max-width: #{$x-small-screen}) {
       @content;
     }
}


@mixin tablets {
  @media only screen and (max-width: #{$small-screen}) {
       @content;
     }
}

@mixin laptops {
  @media only screen and (max-width: #{$medium-screen}) {
       @content;
     }
}

@mixin bigscreens {
  @media only screen and (min-width: #{$large-screen}) {
       @content;
     }
}
