// Hamburger Side Navigation with Dropdown Option
@import "partials/_colors.scss";

$hamburger-padding-y: 0;
$hamburger-layer-width: 25px;
$hamburger-layer-height: 1px;
$hamburger-layer-color: $text;

@import "partials/hamburgers/hamburgers.scss";

#main-nav {
  .hamburger {
    top: 30px;
    position: fixed;
    z-index: 2;
  }
}

#navigation {
  width: 300px;
  height: 100%;
  display: none;
  background-color: $background;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  @include mobiles {
    width: 100%;
    background-color: #e2e9e1;
    text-align: center;
  }
  @include tablets {
    width: 100%;
    background-color: #e2e9e1;
    text-align: center;
  }
  a {
    letter-spacing: 2px;
    line-height: 2.5;
    transition: 0.3s;
    padding-left: 40px;
    @include tablets {
      padding: 0;
    }
    @include mobiles {
      padding: 0;
    }
  }
  .navigation {
    padding-left: 55px;
    padding-top: 50%;
    @include mobiles {
      padding-left: 30px;
    }
    #sub-nav {
      display: none;
      font-family: $Futura-Oblique;
      @include tablets {
        text-align: center;
        margin: 0;
        padding: 0;
      }
      @include mobiles {
        text-align: center;
        margin: 0;
        padding: 0;
      }
    }
  }
}
